body{
    background: lavender;
    margin: 0;
    /* overflow: hidden; */
    height: 200vh;
    border: 2px solid red;
}


nav{
    padding: 0 20px;
    background: linear-gradient(35deg,teal 40%, black 110%);
    color: white;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

nav h1 {
    font-size: 2.5rem;
}

nav div {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

nav a {
    color: white;
    font-size: 1.7rem;
}

main {
    width: 80%;
    margin: 0 10%;
    height: 80vh;
    overflow: hidden;
    padding-bottom: 20%;
    text-align: center;
}

h3 {
    text-decoration: underline;
}

#month{
    margin-bottom: 20px;
}

#map {
    height: 60vh;
}

.info {
    padding: 5px;
    background: white;
}

.info h3 {
    margin: 0;
    text-align: center;
  }
  
  i {
    padding: 1px 5px;
    margin: 0 5px;
  }

  .info div {
    display: flex;
    justify-content: left;
  }