body{
    background: lavender;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    border: 2px solid red;
}


nav{
    text-align: center;
    padding: 5px;
    background: linear-gradient(35deg,teal 40%, black 110%);
    font-size: 2.5rem;
    color: white;
    border-bottom: 2px solid black;
}

main {
    width: 80%;
    margin: 0 10%;
    height: 40vh;
    overflow: hidden;
    padding-bottom: 20%;
    text-align: center;
}

h3 {
    text-decoration: underline;
}

#month{
    margin-bottom: 20px;
}

#map {
    height: 50vh;
}
